.header
    &__contact
        cursor pointer

        &--phone
            transition all 0.3s ease-in-out

            &:hover
                color #ffb01f !important

            p
                padding-left 0.2rem !important
                width 0%
                overflow hidden

        &--email
            transition all 0.3s ease-in-out

            &:hover
                color #ee57ff !important

            p
                padding-left 0.2rem !important
                width 0%
                overflow hidden

        &--whatsapp
            transition all 0.3s ease-in-out

            &:hover
                color #25d366 !important

            p
                padding-left 0.2rem !important
                width 0%
                overflow hidden

    &__menu
        &Background
            background-color rgb(52, 125, 209) !important

        &Body
            list-style-type none

        &InnerBody
            z-index 1600 !important

    &__logo
        width 20%
        border-radius 1rem !important
        transition all 0.3s ease-in-out

        @media (min-width 760px)
            width 6%

        &--hidden
            @media (min-width 760px)
                width 0%

    &__subtitle
        display block
        transition all 0.3s ease-in-out

        &--hidden
            display none
            transition all 0.3s ease-in-out