.menuButton
    background-color #1a85ff !important
    color white
    transition all 0.3s ease-in-out

    &:hover
        background-color #0053b3 !important
        color white

    &:active
        background-color #003470 !important
        color white

    &--active
        background-color #3895ff !important
        color white