.partner
    &__service
        @media (min-width 768px)
            filter grayscale(1)
            transition all 0.3s ease-in-out

        &:hover
            @media (min-width 768px)
                filter grayscale(0)