.product
    &__img
        max-width 250px !important
        max-height 320px !important

    .card
        &_body
            &--lighterText
                font-weight 400
                font-size smaller

    &__detailBody
        display none

        &--toggled
            display block
            transition all 0.5s ease-in-out