.services
    &__img
        filter grayscale(1)
        transition all 0.5s ease-in-out

        &--hovered
            filter grayscale(0)

    &__body
        height 10vh
        transition all 0.5s ease-in-out

        &--hovered
            height 100%

    &__description
        display none

        &--hovered
            display block
            transition all 0.5s ease-in-out
