.services
    &__img
        z-index 10
        height 20rem
        filter grayscale(1)
        transition all 0.5s ease-in-out

        &--hovered
            filter grayscale(0)

    &__textContainer
        background-color rgba(0, 145, 255, 0.8)

    &__mask
        z-index 30
        background-color rgba(0, 0, 0, 0.5)

    &__body
        z-index 50
        height 10vh
        transition all 0.5s ease-in-out

        &--hovered
            height 100%

    &__description
        text-shadow 1px 1px rgba(0, 0, 0, 0.6)
        display none

        &--hovered
            display block
            transition all 0.5s ease-in-out
